

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #f3f4f6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  background: #fff;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ftopic {
  text-align: center;
  color: #ecc410;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 38px
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 97%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 17px;
  transition: all 0.2s;
}

input:focus, textarea:focus {
  border-color: #eebe0f;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #ffd606;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background: #f0b608;
}

.btn-secondary {
  display: block;
  text-align: center;
  background: #7b848c;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 500;
}

.btn-secondary:hover {
  background: #4c5359;
}

.alert {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #fff;
}

.alert-success { background: #28a745; }
.alert-danger { background: #dc3545; }
