:root{
    --main-color: #ffbe00;
    --font-color: #000;
    --login-btn-color: #02ce1a;
    --header-width: 100%;
    --header-height: 120px;
}

body{
    margin:0;
    font-family: sans-serif;
}

header{
    background-color: rgba(255, 190, 0, 0.53);
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    width: var(--header-width);
    height: var(--header-height);
    align-items: center;
}

#headerWrapper{
    width: var(--header-width);
    height: var(--header-height);
}
/* login and sign in buttons section */
#loginBtnSection{
    display: block;
    margin-right: 30px;
    margin-left: -50px;
}

#loginBtnSection > a{
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    background-color: inherit;
    color: var(--font-color);
    border: 3px solid var(--font-color);
    border-radius: 10px;
    font-size: large;
    padding-block: 5px;
    padding-inline: 15px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
}

#loginBtnSection > a:hover{
    background-color: var(--login-btn-color);
    color: white;
    border-color:  var(--login-btn-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* logo section */
.logo{
    display: inline-grid;
}

.logoImg{
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.logoText{
    font-family: Kaushan Script;
    margin: 0;
    font-size: 25px;
}

#topLogo{
    margin-left: 20px;
}
/* navigation button */
#navbarBtn{
    background-color: initial;
    border: none;
    width: fit-content;
    height: fit-content;
    margin-left: 25px;
    cursor: pointer;
}

#navbarBtn > img{
    width: 40px;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
}

#navbarBtn > img:hover{
    background-color: white;

}

/* footer design */
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding-top: 20px;
}

.footerTitles{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 10px;
    margin-top: 1px;
}

/* logo inside the footer */
#bottomLogo{
    margin-left: -20px;
}

/* navigation links */
#footerNavigation{
    width: 300px;
    text-align: center;
}

.footerNavigationLinks{
    display: inline-flex;
    flex-direction: column;
}

#startLinks{
    align-items: start;
}

#endLinks{
    align-items: end;
    margin-left: 60px;
}

.footerNavigationLinks > a{
    width: fit-content;
    text-decoration: none;
    color: var(--font-color);
    margin-bottom: 8px;
    font-weight: 600;
    transition: color 0.4s ease-in-out;
}
.footerNavigationLinks > a:hover{
    color: white;
}

/* social media links */
#socialMediaLinks{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
#socialMediaLinks > a {
    margin-top: 10px;
    margin-inline: 20px;
}

#socialMediaLinks > a > img{
    width: 40px;
    height: 40px;
    transition: all 0.4s ease-in-out;
}
#socialMediaLinks > a:hover > img{
    filter: brightness(0) invert(1);
    transform: scale(1.2);
}
/* web page left side main image*/
img{
    width: 50%;
    float: left;
    margin-top:  80px;
}

/* yellow background page right side*/
form{
  background-color: rgb(245, 209, 34);
  height: 680px;
  padding-top: 20px;  
  float: right;
  margin-right: 00px;
  width: 500px;
  padding-right: 150px;
  padding-left: 100px;
}

/*white background from page*/
.sigin{
    align-items: center;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    padding-left: 20px;
    border-radius: 25px;
    margin: 100px;

}

h1{
    text-align: center;
}

input{
    width: 320px;
    height: 25px;
    border-radius: 8px;
    font-weight: 300;
    border: 2px solid black;
   
}

/*login button */
button{
    width: 320px;
    height: 30px;
    border-radius: 8px;
    margin-top: 40px;
    background-color: rgb(225, 194, 17);

}

/*username, password,Remember mainly design this part*/
label{
    font-size: 18px;
   
}

/*login button inside "login" word create this part*/
.sumbit{
    font-size: 15px;
    font-weight: bold;
}

/*checkbox square shape create a this part*/
.checkbox{
    width: 25px;
    height: 15px;
    padding-left: 25px;
    border: 2px solid black;

}

/*facebook,googl and twitter logo design this part*/
.icon{
    width: 25px;
    height: 25px;
    align-items: normal;
    padding-left: 30px;
    margin-left:40px;
    margin-top: 10px;
}


/*end of the page "create a new account" creat a this part*/
.end{
    margin-top: 50px;
    text-align: center;
}

/*next page link"sign page" create a this part*/
.orlogin{
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
}