:root {
    --main-color: #ffbe00;
    --font-color: #000;
    --login-btn-color: #02ce1a;
    --header-width: 100%;
    --header-height: 120px;
    --sidebar-width: 260px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: rgba(255, 190, 0, 0.53);
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    width: var(--header-width);
    height: var(--header-height);
    align-items: center;
}

#headerWrapper {
    width: var(--header-width);
    height: var(--header-height);
}

/* login and sign in buttons section */
#loginBtnSection {
    display: block;
    margin-right: 30px;
    margin-left: -50px;
}

#loginBtnSection>a {
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    background-color: inherit;
    color: var(--font-color);
    border: 3px solid var(--font-color);
    border-radius: 10px;
    font-size: large;
    padding-block: 5px;
    padding-inline: 15px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
}

#loginBtnSection>a:hover {
    background-color: var(--login-btn-color);
    color: white;
    border-color: var(--login-btn-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
        0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* profile section */
#profile {
    background-color: initial;
    border: none;
    margin-right: 30px;
    margin-left: -50px;
}



#profile>img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

#profile:hover>img {
    filter: brightness(0) invert(1);
    transform: scale(1.2);
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    left: -150px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-content a:hover {
    background-color: #f1f1f1
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown:hover img{
    filter: brightness(0) invert(1);
    transform: scale(1.2);
}

#dropdown-content > #LogOut{
    border-top:1px solid rgb(181, 181, 181) ;
}

/* logo section */
.logo {
    display: inline-grid;
}

.logoImg {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.logoText {
    font-family: Kaushan Script;
    margin: 0;
    font-size: 25px;
}

#topLogo {
    margin-left: 20px;
}

/* navigation button */
#navbarBtn {
    background-color: initial;
    border: none;
    width: fit-content;
    height: fit-content;
    margin-left: 25px;
    cursor: pointer;
}

#navbarBtn>img {
    width: 40px;
    transition: background-color 0.4s ease-in-out;
    border-radius: 5px;
}

#navbarBtn>img:hover {
    background-color: white;

}

/* footer design */
footer {
    display: block;
    background-color: var(--main-color);
    padding-bottom: 10px;
}

footer>#footerWrapper {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    padding-top: 20px;
}

.footerTitles {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 10px;
    margin-top: 1px;
}

/* logo inside the footer */
#bottomLogo {
    margin-left: -20px;
}

/* navigation links */
#footerNavigation {
    width: 300px;
    text-align: center;
}

.footerNavigationLinks {
    display: inline-flex;
    flex-direction: column;
}

#startLinks {
    align-items: start;
}

#endLinks {
    align-items: end;
    margin-left: 60px;
}

.footerNavigationLinks>a {
    width: fit-content;
    text-decoration: none;
    color: var(--font-color);
    margin-bottom: 8px;
    font-weight: 600;
    transition: color 0.4s ease-in-out;
}

.footerNavigationLinks>a:hover {
    color: white;
}

/* social media links */
#socialMediaLinks {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

#socialMediaLinks>a {
    margin-top: 10px;
    margin-inline: 20px;
}

#socialMediaLinks>a>img {
    width: 40px;
    height: 40px;
    transition: all 0.4s ease-in-out;
}

#socialMediaLinks>a:hover>img {
    filter: brightness(0) invert(1);
    transform: scale(1.2);
}

/* copyright */
.copyright {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    border-top: #000 solid 2px;
}

/* side naviigation bar */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    opacity: 1;
    width: var(--sidebar-width);
    background-color: var(--main-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.7s ease;
}

.sidebar.active {
    left: 0;
}

#sideLogo {
    margin-top: 10px;
    margin-left: 55px;
}

#sideLogoImg {
    height: 40px;
}

.sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.sidebarHeader>#closeBtn {
    background-color: initial;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.sidebarHeader>#closeBtn>img {
    width: 25px;
    height: 25px;
    margin-top: 4px;
    opacity: 1;
    transform: scale(1.5);
}

.sidebarHeader>#closeBtn:hover {

    filter: brightness(0) invert(1);
    transform: scale(1.2);
}

#sidebarLogoText {
    font-size: 15px;
}

.sidebar .sidebarContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78vh;
    padding-top: 20px;
    margin-left: -30px;
    padding-left: 10px;
}

.sidebar .sideBarLists {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.sideBarList>a {
    color: inherit;
    text-decoration: none;
    font-size: large;
    display: block;
    width: inherit;
    height: inherit;
    text-align: center;
    padding: 10px;
}

.sidebar .sideBarList {
    font-weight: 600;
    /* text-shadow: #000 1px 1px 2px; */
    border: inherit solid 1px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: inherit;
    margin-right: -8px;
    margin-bottom: 5px;
    transition: background-color 0.4s ease-in-out;
}

.sidebar .sideBarList:hover {
    background-color: white;
}

#selectedNavItem {
    background-color: white !important;
    border: #000000 solid 3px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5),
}


#overlay {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.7s ease;
}

#overlay.active {
    opacity: 1;
    left: var(--sidebar-width);
}