body {
    background-image: url(../assets/PaymentPageAssets/2903544.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {

    display: grid;
    place-self: center;
    place-items: center;
    margin-top: 110px;
    margin-bottom: 10px;
    width: 700px;
    height: 700px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;


}

.paysuc {

    font-size: 60px;
    margin-bottom: 0px;
    text-align: center;
}

.paysucp {
    font-size: 20px;
    margin-top: 0px;
}

.finish {
    background-color: rgb(47, 182, 47);
    border: none;
    width: 500px;
    height: 50px;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;


}

.finish:hover {
    background-color: rgb(14, 112, 14);
    cursor: pointer;
    opacity: 85%;
}

.dataremove{
    color:white;
    background-color: red;
    width: 50px;
    height:30px;
    font-size:15px;
    border: none;
    margin-top:0;}

.dataremove:hover {
    background-color: rgb(14, 112, 14);
    cursor: pointer;
    opacity: 85%;
}
.animatinggif{
    width:200px;
    height:200px;
}