table{
    width: -100px;
    height: 200px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

th, td{
    padding: 10px;
    border: 1px solid #ddd;
}   
th{
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even){
    background-color: #f9f9f9;
}
tr:hover{
    background-color: #f1f1f1;
}
#adminSection h2{
    text-align: center;
    margin-bottom: 20px;
}
.del{
    width: 100px;
    color: red;
}
